@import "tailwindcss";
@config "../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-purple: #6D28D9;
  --color-brand-blue: #2563EB;
  --color-brand-teal: #0D9488;
}
